{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}
    {% include "includes/hero_section.html" %}

    <div class="container mx-auto px-4 py-8">
        {% if page.main_content %}
            <div class="prose max-w-none mb-24">
                {{ page.main_content|richtext }}
            </div>
        {% endif %}

        {% if page.cta_cards %}
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-8">
                {% for block in page.cta_cards %}
                    {% include_block block %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
