{% extends "base.html" %}

{% load wagtailcore_tags %}

{# Remove title and subtitle from header #}
{% block title_and_subtitle %}{% endblock %}

{% block content %}
    {% include "includes/hero_section.html" %}

    <div class="container mx-auto px-4 py-8">
        {% if page.main_content %}
            <div class="prose max-w-none mb-24">
                {{ page.main_content|richtext }}
            </div>
        {% endif %}

        {% include "includes/cta_cards.html" %}
    </div>
{% endblock %}
