{% load wagtailimages_tags %}

<div class="max-w-[1920px] mx-auto">
    <div class="container mx-auto">
        <div class="mb-8 hero min-h-[60vh] relative overflow-hidden">
            {% if page.hero_image %}
                {% image page.hero_image fill-1920x1080 as image %}
                <img
                    src="{{ image.url }}"
                    alt="{{ page.hero_image_alt_text }}"
                    class="w-full h-full object-cover"
                    width="{{ image.width }}"
                    height="{{ image.height }}"
                />
            {% endif %}
            <div class="hero-overlay bg-opacity-60"></div>

            <div class="absolute bottom-8 left-8 text-white">
                <div class="max-w-md">
                    {% if page.hero_title %}
                    <h1 class="mb-5 typography-banner text-left text-white">{{ page.hero_title }}</h1>
                    {% endif %}

                    {% if page.hero_subtitle %}
                    <p class="mb-5 text-left">{{ page.hero_subtitle }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
